# Global ignores
.git
.gitignore
**/__pycache__
**/*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
.env
.env.*
.venv
venv
ENV
build/
.dist/
coverage/
node_modules
frontend/node_modules
backend/.mypy_cache
backend/.pytest_cache
backend/logs
backend/data/*.db
backend/data/cache
backend/dev
backend/old
**/*.log
# Ignore frontend dist except when copied by Docker build context
frontend/dist
# OS / editor
.DS_Store
Thumbs.db
.idea
.vscode
